@charset "utf-8";

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* .outer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.inner{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */